@mixin colors($color){
  color: change-color($color, $hue: hue($color) + 180);
  /*color: $color + 22;
  background-color: $color*/
}

$primary-color: black;
$color: #777777;

body {
  /*background-color : $primary-color;*/
  @include colors($color);
}